@import 'button';

.cart-sidebar-block {
    position: fixed;
    top: 0;
    right: 0;
    width: max(380px, 20%);
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    background: white;
    transform: translateX(110%);
    transition: transform 300ms ease-in;

    &.opened {
        transform: translateX(0);
    }

    .close-button {
        @include secondary-button-style;

        align-self: flex-end;
        margin-bottom: 24px;
    }

    .summary-row {
        display: flex;
        margin: 0 auto 16px auto;
    }

    .clear-cart-button {
        @include button-style;
    }
}