@import 'button';

.masonry-block {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    padding: 24px;

    .vehicle-card {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        overflow: hidden;
        background: white;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    }

    .wrapper-block {
        position: relative;
        overflow: hidden;
        height: 0;
        padding-bottom: 100%;
    }

    .vehicle-image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #cccccc;
    }

    .purchase-button {
        @include icon-button-style;

        position: absolute;
        right: 16px;
        bottom: 16px;
        transform: translateX(40px) translateY(76px);
        transition: transform 240ms ease;
    }

    .wrapper-block:hover .purchase-button {
        transform: none;
    }

    .label-block {
        padding: 16px;
        display: flex;
        align-items: baseline;
    }

    .name-label {
        text-transform: uppercase;
        margin: 0 auto 0 0;
    }

    .price-label {
        margin: 0;
        font-size: 0.875rem;
        color: #646464;
    }
}